@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

/*------- Special margins/padding/text-------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Kumbh sans", sans-serif;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: top -525px left -550px, bottom -520px right -550px;
    height: 100vh;
    overflow: hidden;
}

main {
    background-color: #ffffff;
    border-radius: 15px;
    width: 326px;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-shadow: 0 1px 50px -15px hsl(229, 23%, 23%);
}

/*-------Profile Card Images------*/

.profile-card {
    background-image: url(assets/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 37%;
    text-align: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-top {
    width: 326px;
    border-radius: 15px 15px 0 0;
}

.headshot {
    position: relative;
    top: -30%;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

/*-------Profile Card Main Text-------*/

.main-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: -15%;
}

#name  {
    font-size: 18px;
    font-weight: 700;
}

#age {
    font-size: 18px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

#location {
    color: hsl(227, 10%, 46%);
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -10%;
}

hr {
    border: none;
    height: 1px;
    background-color: hsl(227, 10%, 46%);
    width: auto;
    margin-top: 20px;
}

/*-------Profile Card Stats-------*/

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.stats-numbers {
    font-weight: 700;
    letter-spacing: 1px;
}

.stats-type {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 12px;
    letter-spacing: 2px;
    padding-top: 10px;
}

/*----------- Footer -----------*/

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

